/* Navigation Style Start */
.main-head {
  background-color: blueviolet;
}
nav {
  min-height: 12vh;
  width: 90%;
  margin: auto;
}
nav .logout {
  text-align: end;
  font-size: 1.7rem;
  color: #fff;
}
nav .logout a {
  padding: 1rem 2rem;
  transition: all 0.5s ease;
  border-radius: 0 0 0.6rem 0.6rem;
}
nav .logout a:hover {
  background-color: #fff;
  color: #000;
}
nav .logout a {
  color: #fff;
}
nav .system {
  text-align: center;
  padding: 0.5rem;
  font-size: 1.9rem;
  color: #fff;
}
nav .system-name {
  font-size: 3rem;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li a {
  font-size: 1.6rem;
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  transition: all 0.5s ease;
}
nav ul li a:hover {
  color: black;
  background-color: #fff;
}
section {
  min-height: 80vh;
  width: 80%;
  margin: auto;
}
/* Navigation Style Ends */
